## Selection and training of the model using the encoded data.
### The first model will be a linear regression model.

In [76]:
# importing the cleaned data 
import pandas as pd

data = pd.read_csv('../encoded data/enc1.csv')
data

,Unnamed: 0,Age,Income (USD),Income Stability,Type of Employment,Location,Loan Amount Request (USD),Current Loan Expenses (USD),Expense Type 1,Expense Type 2,Dependents,Credit Score,No. of Defaults,Has Active Credit Card,Property Age,Property Type,Property Location,Co-Applicant,Property Price,Loan Sanction Amount (USD)
0,0,56,1933.05,1,15,1,72809.58,241.08,0,0,3.0,809.44,0,2,1933.05,4,1,1,119933.46,54607.18
1,1,32,4952.91,1,12,1,46837.47,495.81,0,1,1.0,780.40,0,3,4952.91,2,1,1,54791.00,37469.98
2,2,65,988.19,0,12,1,45593.04,171.95,0,1,1.0,833.15,0,3,988.19,2,3,0,72440.58,36474.43
3,3,65,0.00,0,12,0,80057.92,298.54,0,1,2.0,832.70,1,3,0.00,2,2,1,121441.51,56040.54
4,4,31,2614.77,1,6,1,113858.89,491.41,0,1,0.0,745.55,1,0,2614.77,4,2,1,208567.91,74008.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29995,38,4969.41,1,10,2,76657.90,722.34,1,1,2.0,869.61,0,3,4969.41,4,3,1,111096.56,68992.11
29996,29996,20,1606.88,1,8,1,66595.14,253.04,0,0,3.0,729.41,0,1,1606.88,3,3,1,73453.94,46616.60
29997,29997,49,0.00,1,15,2,81410.08,583.11,0,1,0.0,0.00,0,0,0.00,1,1,1,102108.02,61057.56
29998,29998,38,2417.71,1,17,1,142524.10,378.29,0,1,3.0,677.27,1,3,2417.71,4,3,1,168194.47,99766.87
29999,29999,63,3068.24,0,12,0,156290.54,693.94,0,1,1.0,815.44,0,0,3068.24,3,1,1,194512.60,117217.90

In [77]:
# importing and creating the object of the regression model
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [78]:
X = data.drop(['Loan Sanction Amount (USD)', 'Unnamed: 0'], axis=1)
X

,Age,Income (USD),Income Stability,Type of Employment,Location,Loan Amount Request (USD),Current Loan Expenses (USD),Expense Type 1,Expense Type 2,Dependents,Credit Score,No. of Defaults,Has Active Credit Card,Property Age,Property Type,Property Location,Co-Applicant,Property Price
0,56,1933.05,1,15,1,72809.58,241.08,0,0,3.0,809.44,0,2,1933.05,4,1,1,119933.46
1,32,4952.91,1,12,1,46837.47,495.81,0,1,1.0,780.40,0,3,4952.91,2,1,1,54791.00
2,65,988.19,0,12,1,45593.04,171.95,0,1,1.0,833.15,0,3,988.19,2,3,0,72440.58
3,65,0.00,0,12,0,80057.92,298.54,0,1,2.0,832.70,1,3,0.00,2,2,1,121441.51
4,31,2614.77,1,6,1,113858.89,491.41,0,1,0.0,745.55,1,0,2614.77,4,2,1,208567.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,38,4969.41,1,10,2,76657.90,722.34,1,1,2.0,869.61,0,3,4969.41,4,3,1,111096.56
29996,20,1606.88,1,8,1,66595.14,253.04,0,0,3.0,729.41,0,1,1606.88,3,3,1,73453.94
29997,49,0.00,1,15,2,81410.08,583.11,0,1,0.0,0.00,0,0,0.00,1,1,1,102108.02
29998,38,2417.71,1,17,1,142524.10,378.29,0,1,3.0,677.27,1,3,2417.71,4,3,1,168194.47
29999,63,3068.24,0,12,0,156290.54,693.94,0,1,1.0,815.44,0,0,3068.24,3,1,1,194512.60

In [79]:
Y = data['Loan Sanction Amount (USD)']
Y

0         54607.18
1         37469.98
2         36474.43
3         56040.54
4         74008.28
           ...
29995     68992.11
29996     46616.60
29997     61057.56
29998     99766.87
29999    117217.90
Name: Loan Sanction Amount (USD), Length: 30000, dtype: float64

In [80]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [81]:
X_train

,Age,Income (USD),Income Stability,Type of Employment,Location,Loan Amount Request (USD),Current Loan Expenses (USD),Expense Type 1,Expense Type 2,Dependents,Credit Score,No. of Defaults,Has Active Credit Card,Property Age,Property Type,Property Location,Co-Applicant,Property Price
3225,18,2393.81,1,4,1,26487.81,121.29,0,1,2.0,670.60,0,1,2393.81,1,3,1,29926.57
11815,47,1329.35,1,15,0,36463.97,184.77,0,1,0.0,671.37,0,3,1329.35,1,1,1,52964.91
7338,43,0.00,1,3,2,37443.20,379.63,0,0,2.0,851.08,0,3,0.00,2,3,1,50192.50
14980,18,0.00,1,3,1,121337.39,360.54,0,0,4.0,738.86,0,1,0.00,4,3,1,164321.65
27167,57,5032.25,1,10,2,129002.52,597.96,0,0,3.0,788.56,0,0,5032.25,1,3,1,209374.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13123,30,1066.52,1,1,0,74245.13,411.55,0,1,2.0,626.66,0,3,1066.52,3,1,1,87247.69
19648,20,2943.35,1,11,1,29418.19,218.65,0,0,1.0,823.66,0,1,2943.35,1,3,1,54038.56
9845,61,1881.59,0,12,1,72536.46,331.69,0,1,3.0,756.56,0,0,1881.59,3,3,1,133778.61
10799,64,4646.85,0,12,2,64639.95,372.37,0,1,2.0,862.47,0,3,4646.85,3,1,0,93063.37
2732,18,3459.33,1,3,0,49930.76,349.56,1,1,4.0,713.92,1,3,3459.33,4,2,1,63723.79

In [82]:
Y_train

3225      18541.47
11815     23701.58
7338      28082.40
14980     78869.30
27167    103202.02
           ...
13123         0.00
19648     23534.55
9845      54402.34
10799     45247.96
2732          0.00
Name: Loan Sanction Amount (USD), Length: 24000, dtype: float64

In [83]:
# training the model
model.fit(X_train, Y_train)

LinearRegression()

In [84]:
model.predict(X_test)

array([ -920.71601634, 15641.86468221,  6000.52028571, ...,
       75828.64719774, 23478.36508195, 28277.62684558])

In [85]:
Y_test

8225     16159.06
10794        0.00
9163         0.00
26591    54956.66
6631     51391.81
           ...
12715    19455.00
28867        0.00
3758         0.00
17842        0.00
9119     42395.33
Name: Loan Sanction Amount (USD), Length: 6000, dtype: float64

In [86]:
model.score(X_test, Y_test)

0.5175832550580135

## The score of this Linear regression model is 0.51 i.e it is not an accurate model. So we need to choose another regression model.