# Training and testing the model.
## Model used: Linear Regression

In [1]:
# importing the cleaned data 
import pandas as pd

data = pd.read_csv('../encoded data/enc1.csv')
data

,Unnamed: 0,Age,Income (USD),Income Stability,Type of Employment,Location,Loan Amount Request (USD),Current Loan Expenses (USD),Expense Type 1,Expense Type 2,Dependents,Credit Score,No. of Defaults,Has Active Credit Card,Property Location,Co-Applicant,Property Price,Loan Sanction Amount (USD)
0,0,56,1933.05,1,14,1,72809.58,241.08,0,0,3.0,809.44,0,2,0,1.0,119933.46,54607.18
1,1,32,4952.91,1,6,1,46837.47,495.81,0,1,1.0,780.40,0,2,0,1.0,54791.00,37469.98
2,3,65,2614.77,0,6,0,80057.92,298.54,0,1,2.0,832.70,1,2,1,1.0,121441.51,56040.54
3,4,31,2614.77,1,6,1,113858.89,491.41,0,1,2.0,745.55,1,0,1,1.0,208567.91,74008.28
4,5,60,1234.92,1,15,0,34434.72,181.48,0,0,2.0,684.12,1,1,0,1.0,43146.82,22382.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20058,29995,38,4969.41,1,10,2,76657.90,722.34,1,1,2.0,869.61,0,2,2,1.0,111096.56,68992.11
20059,29996,20,1606.88,1,8,1,66595.14,253.04,0,0,3.0,729.41,0,1,2,1.0,73453.94,46616.60
20060,29997,49,2417.71,1,14,2,81410.08,583.11,0,1,3.0,677.27,0,0,0,1.0,102108.02,61057.56
20061,29998,38,2417.71,1,16,1,142524.10,378.29,0,1,3.0,677.27,1,2,2,1.0,168194.47,99766.87
20062,29999,63,3068.24,0,18,0,156290.54,693.94,0,1,1.0,815.44,0,0,0,1.0,194512.60,117217.90

In [2]:
# importing and creating the object of the regression model
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [3]:
# defining the independent variables 
X = data.drop(['Loan Sanction Amount (USD)', 'Unnamed: 0'], axis=1)
X

,Age,Income (USD),Income Stability,Type of Employment,Location,Loan Amount Request (USD),Current Loan Expenses (USD),Expense Type 1,Expense Type 2,Dependents,Credit Score,No. of Defaults,Has Active Credit Card,Property Location,Co-Applicant,Property Price
0,56,1933.05,1,14,1,72809.58,241.08,0,0,3.0,809.44,0,2,0,1.0,119933.46
1,32,4952.91,1,6,1,46837.47,495.81,0,1,1.0,780.40,0,2,0,1.0,54791.00
2,65,2614.77,0,6,0,80057.92,298.54,0,1,2.0,832.70,1,2,1,1.0,121441.51
3,31,2614.77,1,6,1,113858.89,491.41,0,1,2.0,745.55,1,0,1,1.0,208567.91
4,60,1234.92,1,15,0,34434.72,181.48,0,0,2.0,684.12,1,1,0,1.0,43146.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20058,38,4969.41,1,10,2,76657.90,722.34,1,1,2.0,869.61,0,2,2,1.0,111096.56
20059,20,1606.88,1,8,1,66595.14,253.04,0,0,3.0,729.41,0,1,2,1.0,73453.94
20060,49,2417.71,1,14,2,81410.08,583.11,0,1,3.0,677.27,0,0,0,1.0,102108.02
20061,38,2417.71,1,16,1,142524.10,378.29,0,1,3.0,677.27,1,2,2,1.0,168194.47
20062,63,3068.24,0,18,0,156290.54,693.94,0,1,1.0,815.44,0,0,0,1.0,194512.60

In [4]:
# defining the dependent variable
Y = data['Loan Sanction Amount (USD)']
Y

0         54607.18
1         37469.98
2         56040.54
3         74008.28
4         22382.57
           ...
20058     68992.11
20059     46616.60
20060     61057.56
20061     99766.87
20062    117217.90
Name: Loan Sanction Amount (USD), Length: 20063, dtype: float64

In [5]:
# splitting the dataset into training and testing data
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=101) 

# test size determines the split between training and testing data.
#  here 20% of the data is the testing data.
#  remaining 80% of the data is the training data.

In [18]:
import numpy as np
print(np.array(X_train))
Y_train

[[6.0000000e+01 2.2242900e+03 1.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 1.6546852e+05]
 [1.8000000e+01 9.3400000e+02 1.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 2.7495060e+04]
 [2.7000000e+01 8.3718000e+02 1.0000000e+00 ... 2.0000000e+00
  1.0000000e+00 7.9917490e+04]
 ...
 [5.2000000e+01 1.6080800e+03 1.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 1.4224438e+05]
 [1.8000000e+01 5.4112500e+03 1.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 3.2734365e+05]
 [3.2000000e+01 1.7221800e+03 1.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 2.0417553e+05]]

19700     66202.95
15760     13323.98
16146     36010.48
13937    106018.22
16645     28623.18
           ...
5695      80716.16
8006      44207.55
17745     53591.11
17931    154561.92
13151    111547.39
Name: Loan Sanction Amount (USD), Length: 16050, dtype: float64

In [ ]:
# training the model
model.fit(X_train, Y_train)

In [ ]:
# testing the model
predictions = model.predict(X_test)

In [ ]:
# getting the r2 score of the trained model
from sklearn.metrics import r2_score
r2_score(Y_test, predictions)

In [ ]:
# plotting a scatter plot of the test output vs the predicted output

import matplotlib.pyplot as plt

plt.scatter(Y_test, predictions)
plt.xlabel('test data')
plt.ylabel('predicted data')

plt.show()

### Saving the trained model to a pickle file 
Here we are serializing the trained model and saving it using pickle, so that we can use it later or in another file to deploy the model to production.

In [ ]:
import pickle

In [ ]:
pickle.dump(model, open('../pickles/linearRegression.pkl', 'wb'))